<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add the following source for local development -->
    <add key="Local XmlDocFormat" value="artifacts/" />
    <add key="Local XmlDocFormat.InternalGenerators" value="artifacts/generators/" />
  </packageSources>
</configuration>
